In [1]:
import pandas as pd

In [2]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [3]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [4]:
drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object

In [5]:
drinks.continent.value_counts()

Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [6]:
drinks.continent.value_counts().values

array([53, 45, 44, 23, 16, 12], dtype=int64)

In [7]:
drinks.continent.value_counts()['Africa']

53

In [8]:
drinks.continent.value_counts().sort_index()

Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [9]:
people = pd.Series([300000,85000],index=['Albania','Andorra'],name='population')
people

Albania    300000
Andorra     85000
Name: population, dtype: int64

In [10]:
drinks.beer_servings * people

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28        NaN
29        NaN
           ..
165       NaN
166       NaN
167       NaN
168       NaN
169       NaN
170       NaN
171       NaN
172       NaN
173       NaN
174       NaN
175       NaN
176       NaN
177       NaN
178       NaN
179       NaN
180       NaN
181       NaN
182       NaN
183       NaN
184       NaN
185       NaN
186       NaN
187       NaN
188       NaN
189       NaN
190       NaN
191       NaN
192       NaN
Albania   NaN
Andorra   NaN
Length: 195, dtype: float64

In [12]:
pd.concat([drinks,people],axis=1).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,population
0,Afghanistan,0.0,0.0,0.0,0.0,Asia,NaN
1,Albania,89.0,132.0,54.0,4.9,Europe,NaN
2,Algeria,25.0,0.0,14.0,0.7,Africa,NaN
3,Andorra,245.0,138.0,312.0,12.4,Europe,NaN
4,Angola,217.0,57.0,45.0,5.9,Africa,NaN